*{
  background-color: green;
}

.deck{
background: red;
}
#player-hand{
  display: flex;
  justify-content: flex-start;
}
#dealer-hand{
  display: flex;
  justify-content: flex-end;
}
.card-value{
  background-color: aliceblue;
  border: 1px solid red;
  padding: 8px;
}
button{
  background-color: silver;
}