body{
  background-image: url(https://i.imgur.com/liopg2P.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
header{
  justify-content: center;
}
.deck{
background: red;
}
#player-hand{
  display: flex;
  justify-content: flex-start;
}
#dealer-hand{
  display: flex;
  justify-content: flex-end;
}
.card-value{
  background-color: aliceblue;
  border: 2px solid red;
  padding: 12px;
  max-width: 10px;
}
button{
  background-color: silver;
  margin: auto;
  
}
#start{
  margin: auto;
}
input{
  background-color: red;
}